/* header.css */
.App-header {
    background-color: #003366;
    padding: 20px;
    color: #CCCCCC;  /* El texto en blanco para un buen contraste */
    text-align: center;
    font-size: 1.5em;
  }
  